.blog-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid floralwhite;
}
.blog-preview:hover{
    box-shadow: 1px 3px 5px;
}
.blog-preview h2{
    font-size: 20px;
    color:cadetblue;
    margin-bottom: 8px;
}
.blog-preview a{
    text-decoration: none;
}